<div id="toppage-container">
  <div id="auth-container">
    <section class="signin-panel">
      <header>
        <h1>Signin</h1>
      </header>
      <div class="pane-body">
        <ul class="signin-buttons">
          <li>
            <a class="button" href="{{auth_path}}">
              <div class="">
                SignIn Via GoogleApps
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
